body {
	background: #000;
	color: white;
	font-family: 'Oswald', sans-serif;
}

header{
	display: block;
    margin: auto;
	background-color: #5b7989;
	width: 70%;
	height: 100px;
	border-radius: 10px 10px 0px 0px; 
	right: 0;
	left: 0;
}

.texto1{
	padding-left: 30px;
	float: left;
}

.texto1 h1{
	text-shadow: 2px 2px #02010a;
}

.navbar{
	padding-top: 20px;
	float: right;
	text-align: right;
}

.inicio {
	text-decoration: none;
}

.paisajes {
	text-decoration: none;
}

.retratos {
	text-decoration: none;
}

.navbar ul li{
	padding-right: 50px;
	display: inline;
	list-style:none;
}

.navbar ul li a{

}

.navbar ul li a:link{
	color: white;
}

.navbar ul li a:visited{
	color: white;
}

.navbar ul li a:hover{
	text-decoration: none;
}

picture{
	display: block;
    margin: auto;
	padding-top: 30px;
	width: 70%;
	height: 400px;
	background: #82c3a6;
}

picture img{	
	border: 2px solid white;
    display: block;
    margin: auto;
    width: 80%;
}

#contenido {
	border: 1px;
	display: flex;
	flex-direction: column;
}

div.contenedor{
    margin: auto;
    width: 70%;
}

.contenedor {
	background-color: #d5c75f ;
	display: flex;
	flex-direction: row;
}

.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

div img{
	display: inline;
	width: 500px;
}

div img[src$="imagen1.jpg"]{
	border: 2px solid black;
	box-shadow: 2px 0px #82c3a6;
}

div img[src$="imagen2.jpg"]{
	border: 2px solid black;
	box-shadow: 2px 0px #82c3a6;
}

#imagen1{
	animation-name: out;
	animation-name: imagen1-animacion-out;
	transition: 1s;
}

#imagen1:hover{

	animation-name: imagen1-animacion-in;
	transform: rotate( 10deg);
	transition: 1s;
}

@keyframes
imagen1-animacion-in {
	to {
		transform: rotate(10deg);
	}
}

@keyframes
imagen1-animacion-out {
	to {
		transform: rotate(0deg);
	}
}

#imagen2{
	animation-name: out;
	animation-name: imagen2-animacion-out;
	transition: 1s;
}

#imagen2:hover{
	animation-name: imagen2-animacion-in;
	transform: translate();
	transition: 1s;
}

@keyframes
imagen2-animacion-in {
	to {
		transform: translate(5px,20px);
	}
}

@keyframes
imagen2-animacion-out {
	to {
		transform: translate();
	}
}

