body {
	background: #02010a;
	color: white;
	font-family: 'Dancing Script', cursive;
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-top: 100%;
    width: 100%;
  }

  60% {
    margin-top: -5%;
    width: 100%;
  }
}

header{
	display: block;
    margin: auto;
	background-color: #5b7989;
	width: 70%;
	height: 100px;
	border-radius: 10px 10px 0px 0px; 
}

.texto1{	
	padding-left: 30px;
	padding-top: 22px;
	float: left;
}

.texto1 h1{
	display: inline;
	text-shadow: 2px 2px #02010a;
}

.navbar{
	padding-right: 15px;
	padding-top: 22px;
	display: inline;
	float: right;
}

.inicio {
	text-decoration: none;
}

.paisajes {
	text-decoration: none;
}

.retratos {
	text-decoration: none;
}

.navbar ul li{
	padding-right: 50px;
	display: inline;
	list-style:none;
}

.navbar ul li a{
}

.navbar ul li a:link{
	color: white;
}

.navbar ul li a:visited{
	color: white;
}

.navbar ul li a:hover{
	text-decoration: none;
}

/* ------------------------------ header ------------------------------*/

/* ------------------------------ section ------------------------------*/

section {
	background: #82c3a6;
	width: 70%;
	margin: auto;
	height: 500px;
	display: flex;
}

#contenido div {
	margin: auto;
	padding: auto;
}

#contenido div img{
	display: inline;
	width: 100%;
	box-shadow: 2px 0px #02010a;
}

.slyder{
	width: 90%;
}

/* ------------------------------section ------------------------------*/

/* ------------------------------aside ------------------------------*/

.paisajesyretratos{
	margin: auto;
	width: 70%;
	height: 400px;
	background-color: #d5c75f;
	border: 1px;
	display: flex;
}

.paisajesyretratos > div {
	text-align: center;
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 13px;
	padding-bottom: 20px;  
	margin: 10px;
	width: 50%;
}

.paisajesyretratos div img{
	box-shadow: 2px #02010a;
	display: inline;
	width: 90%;
}

div img[src$="imagen1.jpg"]{
	border: 2px solid black;
}

div img[src$="imagen2.jpg"]{
	border: 2px solid black;

}

#paisajes-index{
	animation-name: out;
	animation-name: imagen1-animacion-out;
	transition: 1s;
}

#paisajes-index:hover{
	animation-name: imagen1-animacion-in;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate( 10deg);
	transition: 1s;
}

#paisajes-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen1-animacion-in {
	to {
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate(10deg);
	}
}

@keyframes
imagen1-animacion-out {
	to {
		transform: rotate(0deg);
	}
}

#retratos-index{
	animation-name: out;
	animation-name: imagen2-animacion-out;
	transition: 1s;
}

#retratos-index:hover{
	animation-name: imagen2-animacion-in;
	-ms-transform: translate( 20px, -5px); /* IE 9 */
    -webkit-transform: translate( 20px, -5px); /* Safari */
	transform: translate( 20px, -5px);
	transition: 1s;
}

#retratos-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen2-animacion-in {
	to {
		-ms-transform: translate( 20px, -5px); /* IE 9 */
		-webkit-transform: translate( 20px, -5px); /* Safari */
		transform: translate( 5px, 20px);
	}
}

@keyframes
imagen2-animacion-out {
	to {
		transform: translate();
	}
}

.paisajesyretratos-paisajes{
	margin: auto;
	width: 70%;
	background-color: #d5c75f;
	display: flex;
}

.paisajesyretratos-paisajes div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 30%;
}

.paisajesyretratos-paisajes div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
}

.paisajesyretratos-paisajes2{
	margin: auto;
	width: 70%;
	background-color: #d5c75f;
	display: flex;
}

.paisajesyretratos-paisajes2 div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 30%;
}

.paisajesyretratos-paisajes2 div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
}

#paisajes-paisajes1{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#paisajes-paisajes2{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#paisajes-paisajes3{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

#paisajes-paisajes4{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#paisajes-paisajes5{
	
}

#paisajes-paisajes6{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* ------------------------------ aside ------------------------------*/

footer {
	background-color: #C6d5c5;
	color: #000000;
	width: 70%;
	margin: auto;
	height: 280px;	
	display: flex;
	border-radius: 0px 0px 10px 10px;
}

.pie {
	text-align: left;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.pie div {
	width: 25%;
	padding: 25px;
	margin: 10px;
}

.redessociales {
	width: 15px;
}


/* ----------------------------------------------------------------------

------------------------------------------------------------------------

-----------------------------------------------------------------------*/


@media (max-width: 1050px) {
	body {
	background: #02010a;
	color: white;
	font-family: 'Dancing Script', cursive;
	animation-duration: 3s;
	animation-name: slidein;
	}

	@keyframes slidein {
	0% {
	margin-top: 100%;
	width: 100%;
	}

	60% {
	margin-top: -5%;
	width: 100%;
	}
	}

	header{
	display: block;
	margin: auto;
	background-color: #5b7989;
	width: 100%;
	height: 140px;
	border-radius: 10px 10px 0px 0px; 
	}

	.texto1{
	padding-left: 30px;
	padding-top: 22px;
	float: left;
	}

	.texto1 h1{
	width: 90%;
	display: inline;
	text-shadow: 2px 2px #02010a;
	}

	.navbar{
	padding-right: 15px;
	padding-top: 22px;
	display: inline;
	float: right;
	}

	.inicio {
	text-decoration: none;
	}

	.paisajes {
	text-decoration: none;
	}

	.retratos {
	text-decoration: none;
	}

	.navbar ul li{
	padding-right: 50px;
	display: inline;
	list-style:none;
	}

	.navbar ul li a{
	}

	.navbar ul li a:link{
	color: white;
	}

	.navbar ul li a:visited{
	color: white;
	}

	.navbar ul li a:hover{
	text-decoration: none;
	}

	/* ------------------------------ header ------------------------------*/

	/* ------------------------------ section ------------------------------*/

	section {
	background: #82c3a6;
	width: 100%;
	margin: auto;
	height: 400px;
	display: flex;
	}

	#contenido{
	}

	#contenido div {
	margin: auto;
	padding: auto;
	}

	#contenido div img{
	display: inline;
	width: 100%;
	box-shadow: 2px 0px #02010a;
	}

	.slyder{
	width: 90%;
	}

	/* ------------------------------section ------------------------------*/

	/* ------------------------------aside ------------------------------*/

	.paisajesyretratos{
	margin: auto;
	width: 100%;
	height: 300px;
	background-color: #d5c75f;
	border: 1px;
	display: flex;
	}

	.paisajesyretratos > div {
	text-align: center;
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 13px;
	padding-bottom: 20px;  
	margin: 10px;
	width: 50%;
	}

	.paisajesyretratos div img{
	display: inline;
	width: 90%;
	}

	div img[src$="imagen1.jpg"]{
	border: 2px solid black;
}

div img[src$="imagen2.jpg"]{
	border: 2px solid black;

}

#paisajes-index{
	animation-name: out;
	animation-name: imagen1-animacion-out;
	transition: 1s;
}

#paisajes-index:hover{
	animation-name: imagen1-animacion-in;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate( 10deg);
	transition: 1s;
}

#paisajes-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen1-animacion-in {
	to {
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate(10deg);
	}
}

@keyframes
imagen1-animacion-out {
	to {
		transform: rotate(0deg);
	}
}

#retratos-index{
	animation-name: out;
	animation-name: imagen2-animacion-out;
	transition: 1s;
}

#retratos-index:hover{
	animation-name: imagen2-animacion-in;
	-ms-transform: translate( 20px, -5px); /* IE 9 */
    -webkit-transform: translate( 20px, -5px); /* Safari */
	transform: translate( 20px, -5px);
	transition: 1s;
}

#retratos-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen2-animacion-in {
	to {
		-ms-transform: translate( 20px, -5px); /* IE 9 */
		-webkit-transform: translate( 20px, -5px); /* Safari */
		transform: translate( 5px, 20px);
	}
}

@keyframes
imagen2-animacion-out {
	to {
		transform: translate();
	}
}


	.paisajesyretratos-paisajes{
	margin: auto;
	width: 100%;
	background-color: #d5c75f;
	display: flex;
	}

	.paisajesyretratos-paisajes div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 30%;
	}

	.paisajesyretratos-paisajes div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
	}

	.paisajesyretratos-paisajes2{
	margin: auto;
	width: 100%;
	background-color: #d5c75f;
	display: flex;
	}

	.paisajesyretratos-paisajes2 div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 30%;
	}

	.paisajesyretratos-paisajes2 div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
	}

	#paisajes-paisajes1{
	-webkit-filter: blur(10px);
	filter: blur(10px);
	}

	#paisajes-paisajes2{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	#paisajes-paisajes3{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
	}

	#paisajes-paisajes4{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	#paisajes-paisajes5{

	}

	#paisajes-paisajes6{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	/* ------------------------------ aside ------------------------------*/

	/* ------------------------------ footer ------------------------------*/

	footer {
	background-color: #C6d5c5;
	color: #000000;
	width: 100%;
	margin: auto;
	height: 280px;	
	display: flex;
	border-radius: 0px 0px 10px 10px;
	}

	.pie {
	text-align: left;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	}

	.pie div {
	width: 25%;
	padding: 15px;
	margin: 10px;
	}

	.redessociales {
	width: 15px;
	}
}

/* ----------------------------------------------------------------------

------------------------------------------------------------------------

-----------------------------------------------------------------------*/

@media (max-width: 450px) {
	body {
	background: #02010a;
	color: white;
	font-family: 'Dancing Script', cursive;
	animation-duration: 3s;
	animation-name: slidein;
	}

	@keyframes slidein {
	0% {
	margin-top: 100%;
	width: 100%;
	}

	60% {
	margin-top: -5%;
	width: 100%;
	}
}

	header{
	display: block;
	margin: auto;
	background-color: #5b7989;
	width: 100%;
	height: 180px;
	border-radius: 10px 10px 0px 0px; 
	}

	.texto1{	
	width: 80%;
	text-align: center;
	margin: auto;
	}

	.texto1 h1{
	text-shadow: 2px 2px #02010a;
	}

	.navbar{
	text-align: center;
	display: inline;	
	}

	.inicio {
	text-decoration: none;
	}

	.paisajes {
	text-decoration: none;
	}

	.retratos {
	text-decoration: none;
	}

	.navbar ul li{
	padding-right: 40px;

	display: inline;
	list-style:none;
	}

	.navbar ul li a{
	}

	.navbar ul li a:link{
	color: white;
	}

	.navbar ul li a:visited{
	color: white;
	}

	.navbar ul li a:hover{
	text-decoration: none;
	}

	/* ------------------------------ header ------------------------------*/

	/* ------------------------------ section ------------------------------*/

	section {
	background: #82c3a6;
	width: 100%;
	margin: auto;
	height: 200px;
	display: flex;
	}

	#contenido{
	}

	#contenido div {
	margin: auto;
	padding: auto;
	}

	#contenido div img{
	display: inline;
	width: 100%;
	box-shadow: 2px 0px #02010a;
	}

	.slyder{
	width: 87%;
	}

	/* ------------------------------section ------------------------------*/

	/* ------------------------------aside ------------------------------*/

	.paisajesyretratos{
	margin: auto;
	width: 100%;
	height: 620px;
	border: 1px;
	background-color: #d5c75f;
	display: inline-block;
	}

	.paisajesyretratos > div {
	text-align: center;
	width: 83%;
	}

	.paisajesyretratos div img{
	display: inline;
	width: 100%;
	}

	div img[src$="imagen1.jpg"]{
	border: 2px solid black;
}

div img[src$="imagen2.jpg"]{
	border: 2px solid black;

}

#paisajes-index{
	animation-name: out;
	animation-name: imagen1-animacion-out;
	transition: 1s;
}

#paisajes-index:hover{
	animation-name: imagen1-animacion-in;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate( 10deg);
	transition: 1s;
}

#paisajes-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen1-animacion-in {
	to {
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate(10deg);
	}
}

@keyframes
imagen1-animacion-out {
	to {
		transform: rotate(0deg);
	}
}

#retratos-index{
	animation-name: out;
	animation-name: imagen2-animacion-out;
	transition: 1s;
}

#retratos-index:hover{
	animation-name: imagen2-animacion-in;
	-ms-transform: translate( 20px, -5px); /* IE 9 */
    -webkit-transform: translate( 20px, -5px); /* Safari */
	transform: translate( 20px, -5px);
	transition: 1s;
}

#retratos-index:hover img{
	box-shadow: 2px 0px #82c3a6;
}

@keyframes
imagen2-animacion-in {
	to {
		-ms-transform: translate( 20px, -5px); /* IE 9 */
		-webkit-transform: translate( 20px, -5px); /* Safari */
		transform: translate( 5px, 20px);
	}
}

@keyframes
imagen2-animacion-out {
	to {
		transform: translate();
	}
}

	.paisajesyretratos-paisajes{
	margin: auto;
	width: 100%;
	background-color: #d5c75f;
	display: block;
	}

	.paisajesyretratos-paisajes div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 80%;
	}

	.paisajesyretratos-paisajes div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
	}

	.paisajesyretratos-paisajes2{
	margin: auto;
	width: 100%;
	background-color: #d5c75f;
	display: block;
	}

	.paisajesyretratos-paisajes2 div{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 80%;
	}

	.paisajesyretratos-paisajes2 div img{
	box-shadow: 2px #02010a;
	margin: auto;
	width: 100%;
	}

	#paisajes-paisajes1{
	-webkit-filter: blur(10px);
	filter: blur(10px);
	}

	#paisajes-paisajes2{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	#paisajes-paisajes3{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
	}

	#paisajes-paisajes4{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	#paisajes-paisajes5{

	}

	#paisajes-paisajes6{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	/* ------------------------------ aside ------------------------------*/

	/* ------------------------------ footer ------------------------------*/

	footer {
	background-color: #C6d5c5;
	color: #000000;
	width: 100%;
	margin: auto;
	height: 770px;	
	display: flex;
	border-radius: 0px 0px 10px 10px;
	}

	.pie {
	text-align: left;
	padding-left: 20px; 
	display: flex;
	flex-direction: column;
	}

	.pie div {
	width: 80%;
	padding: 10px;
	margin: 10px;
	}

	.redessociales {
	width: 15px;
	}
}

